# vim: set syn=gtkrc:

style "menu" {
    xthickness = 3
    ythickness = 3

    bg[NORMAL]      = "#222222"
    base[NORMAL]    = "#222222"
    fg[INSENSITIVE] = "#666666"

    engine "murrine" {
        contrast = 3.00
    }
}

style "menu-item" = "menu" {
    xthickness = 4
    ythickness = 3

    fg[PRELIGHT] = "#eeeeee"

    base[NORMAL]  = "#333333"

    bg[INSENSITIVE] = "#333333"

    #bg[SELECTED] = mix(0.90, @selected_bg_color, @fg_color)
    bg[SELECTED] = "#444444"

    engine "murrine" {
        contrast  = 0.50
        border_shades = {0.00, 0.00}
        roundness = 0
    }
}

style "tearoff-menu-item" = "menu" {
    engine "murrine" {
        roundness = 0
    }
}

style "separator-menu-item" = "menu-item" {
    engine "murrine" {
        contrast = 0.50
    }
}

style "menu-progressbar" {
    xthickness = 0
    ythickness = 0

    engine "murrine" {
        roundness = 0
    }
}
