# vim: set syn=gtkrc:

style "button" = "wider" {
    bg[NORMAL]      = shade(1.35, @bg_color)
    bg[PRELIGHT]    = shade(1.55, @bg_color)
    bg[ACTIVE]      = shade(0.75, @selected_bg_color)
    bg[INSENSITIVE] = shade(1.20, @bg_color)

    engine "murrine" {
        roundness = 4
        contrast = 1.70
        focus_color = shade(2.00, @bg_color)
    }
}

style "toolbar-button" = "button" {
    xthickness = 6
    ythickness = 3

    bg[NORMAL]   = shade(1.20, @bg_color)
    bg[PRELIGHT] = shade(1.30, @bg_color)
    bg[ACTIVE]   = shade(0.75, @selected_bg_color)

    engine "murrine" {
        #roundness = 32
        roundness = 12
        contrast = 1.40
    }
}
