Cached Theme.pak
*.crx
*.pem
.DS_Store
*.log
.vscode
alfred/Alfred.alfredpreferences/clipboard/snippets.alfdb
alfred/Alfred.alfredpreferences/preferences/local
alfred/Alfred.alfredpreferences/remote
alfred/Alfred.alfredpreferences/snippets/Ascii Art
alfred/Alfred.alfredpreferences/snippets/Mac symbols
alfred/Alfred.alfredpreferences/snippets/Currency Symbols
alfred/Alfred.alfredpreferences/snippets/Emoji Pack
