# Chrome developer garbage
Cached Theme.pak
*.crx
*.pem

# OS X Finder garbage
.DS_Store

# Vim garbage
vim/bundle

# Sublime Text Package Control garbage
Package Control.cache
Package Control.system-ca-bundle
Package Control.last-run
Package Control.user-ca-bundle
Package Control.merged-ca-bundle

# Sublime Themes are kept in other repos
*.tmTheme
