# vim: set syn=gtkrc:

style "menubar" {
    xthickness = 3
    ythickness = 1

    font_name = "Bold"

    bg[NORMAL]     = @bg_color
    fg[NORMAL]     = mix(0.25, @bg_color, @fg_color)

    fg[PRELIGHT]   = mix(0.25, @bg_color, @fg_color)
    fg[SELECTED]   = mix(0.25, @bg_color, @fg_color)
    text[PRELIGHT] = mix(0.25, @bg_color, @fg_color)
    text[SELECTED] = mix(0.25, @bg_color, @fg_color)

    fg[INSENSITIVE] = shade(0.80, @fg_color)

    engine "murrine" {
        roundness = 0
        gradient_shades = {1.00, 1.00, 1.00, 1.00}
        border_shades = {1.00, 1.00}
        contrast = 1.00
    }

#   engine "industrial" {
#       rounded_buttons = FALSE
#       contrast = 0.50
#   }
}

style "menubar-item" {
    xthickness = 4
    ythickness = 3

    # To make the menubar items blend in with the menus themselves
    bg[PRELIGHT] = @menu_bg_color
    #bg[PRELIGHT] = "#2B2757"

    engine "murrine" {
        roundness = 0
        contrast = 0.50
        #border_shades = {1.25, 1.25}
        #border_shades = {1.00, 1.00}
        border_shades = {0.75, 0.75}
        lightborder_shade = 1.00
        #contrast = 2.00
    }
}
