# vim: set syn=gtkrc:

style "progressbar" {
    font_name = "Bold"

    xthickness = 2
    ythickness = 2

    fg[PRELIGHT] = @fg_color

    bg[SELECTED] = shade(0.80, @bg_color)

     engine "murrine" {
        roundness = 0
        contrast = 1.00
        trough_shades = {1.00, 1.00}
        border_shades = {1.20, 1.20}
     }
}
