# vim: set syn=gtkrc:

style "scale" = "button" {
    # Tall shape
    #GtkScale::slider-width  = 24
    #GtkScale::slider-length = 12

    # Long shape
    #GtkScale::slider-width  = 12
    #GtkScale::slider-length = 30

    # Oval shape
    #GtkScale::slider-width  = 24
    #GtkScale::slider-length = 14

    # Circle shape
    GtkScale::slider-width  = 18
    GtkScale::slider-length = 18

    bg[NORMAL]   = shade(1.10, @bg_color)
    bg[PRELIGHT] = shade(1.15, @bg_color)

    bg[SELECTED ] = shade(1.10, @bg_color)
    bg[ACTIVE   ] = shade(0.90, @bg_color)

    engine "murrine" {
        roundness = 0
        border_shades = {0.90, 0.90}
        contrast = 0.50
    }
}

style "hscale" {
}

style "vscale" {
}
