# vim: set syn=gtkrc:

style "entry" = "wider" {
    bg[NORMAL]        = shade(1.00, @base_color)
    base[NORMAL]      = shade(1.20, @bg_color)
    text[INSENSITIVE] = shade(1.20, @bg_color)

    engine "murrine" {
        roundness = 0
        contrast = 0.85
        #border_shades = {1.75, 0.25}
        #border_shades = {1.75, 0.50}
        focus_color = shade(2.50, @bg_color)
        #contrast = 0.80
    }
}

style "comboboxentry" {
}
