# vim: set syn=gtkrc:

style "menu" {
    xthickness = 4
    ythickness = 4

    bg[NORMAL]      = mix(0.50, shade(0.80, @selected_bg_color), shade(1.00, @bg_color))
    base[NORMAL]    = mix(0.50, shade(0.80, @selected_bg_color), shade(1.30, @bg_color))
    fg[INSENSITIVE] = mix(0.50, shade(0.80, @selected_bg_color), shade(4.50, @bg_color))

    engine "murrine" {
        contrast = 3.00
    }
}

style "menu-item" = "menu" {
    xthickness = 4
    ythickness = 3

    fg[PRELIGHT] = @selected_fg_color

    base[NORMAL]  = @selected_bg_color

    bg[INSENSITIVE] = mix(0.50, shade(0.80, @selected_bg_color), shade(1.50, @bg_color))

    bg[SELECTED] = mix(0.75, shade(0.50, @selected_bg_color), "#FFF")

    engine "murrine" {
        contrast  = 0.50
        border_shades = {0.30, 0.30}
        roundness = 4
    }
}

style "tearoff-menu-item" = "menu" {
    engine "murrine" {
        roundness = 0
    }
}

style "separator-menu-item" = "menu-item" {
    engine "murrine" {
        contrast = 0.50
    }
}

style "menu-progressbar" {
    xthickness = 0
    ythickness = 0

    engine "murrine" {
        roundness = 0
    }
}
