# vim: set syn=gtkrc:

style "notebook" {
    xthickness = 3
    ythickness = 3

    bg[ACTIVE]   = shade(1.60, @bg_color)
    bg[NORMAL]   = shade(1.05, @bg_color)

    bg[SELECTED] = shade(1.10, @selected_bg_color)

    # Fallback engine
    engine "murrine" {
        roundness = 4
        contrast = 1.10
    }

    # Real engine
    engine "aurora" {
        curvature = 2
    }
}

style "spinbutton-notebook" = "button" {
    bg[NORMAL] = shade(1.10, @bg_color)

    engine "murrine" {
        roundness = 0
    }
}

style "radiocheck-notebook" = "button" {
    base[NORMAL]   = shade(1.75, @base_color)
    base[PRELIGHT] = shade(1.85, @base_color)

    base[SELECTED] = shade(1.00, @selected_bg_color)

    bg[SELECTED]   = shade(4.00, @bg_color)
    bg[PRELIGHT]   = shade(1.04, @bg_color)
    
    text[SELECTED] = @fg_color

    # Fallback engine
    engine "aurora"  {}

    # Real engine
    engine "equinox" {}
}
