# vim: set syn=gtkrc:

style "notebook" {
    xthickness = 3
    ythickness = 3

    bg[ACTIVE]   = shade(1.60, @bg_color)
    bg[NORMAL]   = shade(1.00, @bg_color)

    bg[SELECTED] = shade(1.10, @selected_bg_color)

    # Fallback engine
    engine "murrine" {
        roundness = 4
        contrast = 1.00
    }
}
