# vim: set syn=gtkrc:

style "scale" = "button" {
    # Tall shape
    #GtkScale::slider-width  = 24
    #GtkScale::slider-length = 12

    # Long shape
    #GtkScale::slider-width  = 12
    #GtkScale::slider-length = 30

    # Oval shape
    #GtkScale::slider-width  = 24
    #GtkScale::slider-length = 14

    # Circle shape
    GtkScale::slider-width  = 18
    GtkScale::slider-length = 18

    bg[NORMAL]   = shade(1.60, @bg_color)
    bg[PRELIGHT] = shade(1.90, @bg_color)

    bg[SELECTED] = shade(1.00, @selected_bg_color)

    engine "murrine" {
        roundness = 16
        border_shades = {0.25, 0.25}
        gradient_shades = {1.25, 1.20, 1.20, 1.15}
        contrast = 1.60
    }
}

style "hscale" {
}

style "vscale" {
}
