<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.1EA545B1-0B59-4330-A1DC-F6BD0023BB07</string>
	<key>lightthemeuid</key>
	<string>theme.custom.8C14DB55-9689-48E6-9CC9-F06BE3AF49E5</string>
</dict>
</plist>
