# vim: set syn=gtkrc:

style "calendar" {
    font_name = "Bold 7"

    base[ACTIVE] = shade(1.80, @base_color)

    xthickness = 2
    ythickness = 2

    engine "murrine" {
        #roundness = 6
    }
}
