# vim: set syn=gtkrc:

style "zero-contrast" {
}

style "wide" {
    xthickness = 2
    ythickness = 2

    bg[SELECTED] = @selected_bg_color
}

style "wider" {
    xthickness = 3
    ythickness = 3

    bg[SELECTED] = @selected_bg_color
}

style "nautilus-location" {
    bg[NORMAL]   = shade(1.0, @selected_bg_color)
    bg[SELECTED] = shade(1.0, @selected_bg_color)
    bg[ACTIVE]   = shade(1.0, @selected_bg_color)
}

style "smaller-text" {
    font_name = "Bold 6"
}
