# vim: set syn=gtkrc:

style "statusbar" {
#    GtkStatusbar::shadow_type = GTK_SHADOW_NONE

    #bg[NORMAL] = shade(1.00, @bg_color)
    
    engine "murrine" {
        ##contrast = 0.80
    }
}
style "statusbar-shadow-none" {
    GtkStatusbar::shadow_type = GTK_SHADOW_NONE

    #bg[NORMAL] = shade(1.00, @bg_color)

    engine "murrine" {
        ##contrast = 0.0
    }
}
