# vim: set syn=gtkrc:

style "tooltips" = "wider" {
    xthickness = 6
    ythickness = 6

    bg[NORMAL] = shade(0.90, @tooltip_bg_color)
    fg[NORMAL] = @tooltip_fg_color

    engine "murrine" {
        contrast = 1.25
    }
}
