<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.wavebeem.color-picker</string>
	<key>connections</key>
	<dict>
		<key>06D322BE-3EBD-4942-9966-4F132572C6C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42E99704-E769-42D1-8698-96DA4F66D029</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77269867-DF3F-43FA-AD1A-893B32E5B492</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06D322BE-3EBD-4942-9966-4F132572C6C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian Mock (brian@wavebeem.com)</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Color Picker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>picker</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Color Picker</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77269867-DF3F-43FA-AD1A-893B32E5B492</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>rgb = `echo choose color | osascript`.split(/,\s*/).map { |s| s.to_i &gt;&gt; 8 }

if !rgb.empty?
  r, g, b = rgb
  printf "#%02x%02x%02x", r, g, b
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>06D322BE-3EBD-4942-9966-4F132572C6C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>42E99704-E769-42D1-8698-96DA4F66D029</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>06D322BE-3EBD-4942-9966-4F132572C6C5</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>42E99704-E769-42D1-8698-96DA4F66D029</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>77269867-DF3F-43FA-AD1A-893B32E5B492</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.wavebeem.com</string>
</dict>
</plist>
