snippet html "HTML5 skeleton"
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello, world!</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	${0:<h1>Hello, world!</h1>}
	<script src="main.js"></script>
</body>
</html>
endsnippet
