snippet it "it (mocha)" b!
it("$1", function() {
	${0:// TODO}
});
endsnippet

snippet desc "describe (mocha)" b!
describe("$1", function() {
	${0:// TODO}
});
endsnippet

snippet ff "function callback" w!
function($1) {
	${0:// TODO}
});
endsnippet

snippet fn "function literal" w!
function($1) {
	${0:// TODO}
};
endsnippet

snippet fn "function statement" b!
function $1($2) {
	${0:// TODO}
}
endsnippet

snippet ff "function statement" b!
var $1 = function($2) {
	${0:// TODO}
}
endsnippet
