# Author: Brian Mock (saikobee) <mock.brian@gmail.com>
# vim: set syn=gtkrc:

# Enable or dsiable changing accelerators in menus
# gtk-can-change-accels = 1

# Remove obnoxious bell
# gtk-error-bell = 0

# The default widget style
include "default.rc"

# A few miscellaneous styles
include "misc.rc"

# Hack to make pidgin conversations prettier
include "pidgin.rc"

# Styles for various widgets
include "buttons.rc"
include "entries.rc"
include "notebook.rc"
include "menu.rc"
include "menubar.rc"
include "toolbar.rc"
include "frame.rc"
include "treeview.rc"
include "progressbar.rc"
include "calendar.rc"
include "statusbar.rc"
include "scale.rc"
include "scrollbar.rc"
include "radiocheck.rc"
include "tooltip.rc"
include "spinbutton.rc"

# This line must be the last include
include "matches.rc"
