.button {
    -unico-focus-border-color: alpha(@selected_bg_color, 0.7);
    -unico-focus-fill-color: @transparent;
    -unico-focus-outer-stroke-color: alpha(@selected_bg_color, 0.2);
}

GtkComboBox,
.button {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(@button_bg_color1),
          to(@button_bg_color2));
    border-radius: 2;
    border-style: solid;

    text-shadow: 0 1 alpha(shade(@button_bg_color, 1.25), 0.4);

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 0.8)),
          to(shade(@button_bg_color, 0.7)));
    -unico-glow-radius: 0;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_hl_color, 1.05)),
          to(shade(@button_hl_color, 1.00)));
    -unico-inner-stroke-width: 1 1 0 1;
    -unico-outer-stroke-width: 1;
}

GtkScale.slider {
    -unico-outer-stroke-width: 1;
    -unico-outer-stroke-color: shade(@bg_color, 0.94);
}

GtkScale.slider:hover,
.button:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 1.28)),
        color-stop(0.50, shade(@button_bg_color, 1.06)),
        color-stop(0.49, shade(@button_bg_color, 1.12)),
        to(shade(@button_bg_color, 1.16)));

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 0.8)),
          to(shade(@button_bg_color, 0.6)));
}

.button:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 0.84)),
          to(shade(@button_bg_color, 0.94)));

    -unico-focus-outer-stroke-color: @transparent;

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 0.6)),
          to(shade(@button_bg_color, 0.6)));
    -unico-glow-radius: 0;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 0.74)),
          to(shade(@button_bg_color, 0.94)));
    -unico-inner-stroke-width: 1 1 0 1;
}

.button:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 0.88)),
          to(shade(@button_bg_color, 0.98)));

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 0.6)),
          to(shade(@button_bg_color, 0.6)));
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 0.74)),
          to(shade(@button_bg_color, 0.94)));
}

.button:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_insensitive_bg_color, 1.02)),
        to(shade(@button_insensitive_bg_color, 0.94)));

    text-shadow: 0 1 alpha(shade(@button_bg_color, 1.25), 0.4);

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_insensitive_bg_color, 0.8)),
          to(shade(@button_insensitive_bg_color, 0.8)));
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_insensitive_bg_color, 1.07)),
          to(shade(@button_insensitive_bg_color, 1.07)));
    -unico-inner-stroke-width: 1 1 0 1;
}

.button:insensitive:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_insensitive_bg_color, 0.97)),
          to(shade(@button_insensitive_bg_color, 1.0)));

    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_insensitive_bg_color, 0.95)),
          to(shade(@button_insensitive_bg_color, 0.98)));
}

/* GtkComboBox.combobox-entry .button, */
GtkScale.slider,
GtkScale.slider.vertical,
.notebook .button,
.inline-toolbar.toolbar .button {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 1.2)),
        color-stop(0.50, shade(@button_bg_color, 1.04)),
        color-stop(0.49, shade(@button_bg_color, 1.1)),
        to(shade(@button_bg_color, 1.04)));
    border-top-color: shade(@bg_color, 0.82);
    border-right-color: shade(@bg_color, 0.78);
    border-bottom-color: shade(@bg_color, 0.64);
    border-left-color: shade(@bg_color, 0.78);
    padding: 1;

    text-shadow: 0 1 alpha(shade(@button_bg_color, 1.25), 0.4);

    -unico-border-gradient: none;
    -unico-glow-radius: 0;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 1.66)),
          to(shade(@button_bg_color, 1.415)));
    -unico-inner-stroke-width: 1 1 0 1;

}

/* GtkComboBox.combobox-entry .button:hover, */
GtkScale.slider:hover,
GtkScale.slider.vertical:hover,
.notebook .button:hover,
.inline-toolbar.toolbar .button:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 1.26)),
        color-stop(0.50, shade(@button_bg_color, 1.1)),
        color-stop(0.49, shade(@button_bg_color, 1.14)),
        to(shade(@button_bg_color, 1.1)));
    border-top-color:    shade(@bg_color, 0.85);
    border-right-color:  shade(@bg_color, 0.82);
    border-bottom-color: shade(@bg_color, 0.67);
    border-left-color:   shade(@bg_color, 0.82);

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@bg_color, 1.21)),
          to(shade(@bg_color, 1.02)));
}

/* GtkComboBox.combobox-entry .button:active, */
.notebook .button:active,
.inline-toolbar.toolbar .button:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 0.84)),
          to(shade(@button_bg_color, 0.94)));
    border-top-color:    shade(@bg_color, 0.62);
    border-right-color:  shade(@bg_color, 0.72);
    border-bottom-color: shade(@bg_color, 0.76);
    border-left-color:   shade(@bg_color, 0.72);

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@bg_color, 0.85)),
          to(shade(@bg_color, 0.9)));
}

/* GtkComboBox.combobox-entry .button:active:hover, */
.notebook .button:active:hover,
.inline-toolbar.toolbar .button:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_bg_color, 0.84)),
          to(shade(@button_bg_color, 0.94)));
    border-top-color:    shade(@bg_color, 0.64);
    border-right-color:  shade(@bg_color, 0.74);
    border-bottom-color: shade(@bg_color, 0.79);
    border-left-color:   shade(@bg_color, 0.74);

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@bg_color, 0.93)),
          to(shade(@bg_color, 0.94)));
}

/* GtkComboBox.combobox-entry .button:insensitive, */
.notebook .button:insensitive,
.inline-toolbar.toolbar .button:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@bg_color, 1.06)),
          to(shade(@bg_color, 0.98)));
    border-top-color: shade(@bg_color, 0.86);
    border-right-color: shade(@bg_color, 0.86);
    border-bottom-color: shade(@bg_color, 0.86);
    border-left-color: shade(@bg_color, 0.9);

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@bg_color, 1.1)),
          to(shade(@bg_color, 1.0)));
}

GtkComboBox.combobox-entry .button {
    background-image: none;
    background-color: @transparent;
    border-width: 0;
    -unico-inner-stroke-width: 1;
    -unico-outer-stroke-width: 1;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@base_color, 1.1)),
          to(shade(@base_color, 1.1)));
}


GtkComboBox.combobox-entry .button:hover {
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@base_color, 1.3)),
          to(shade(@base_color, 1.3)));
}

/* default button */
.button.default {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(mix(shade(@selected_bg_color, 1.29), @bg_color, 0.3)),
        color-stop(0.50, mix(shade(@selected_bg_color, 0.94), @bg_color, 0.3)),
        color-stop(0.49, mix(shade(@selected_bg_color, 1.06), @bg_color, 0.3)),
        to(mix(shade(@selected_bg_color, 1.0), @bg_color, 0.3)));

    text-shadow: 0 1 alpha(shade(@selected_bg_color, 1.26), 0.4);

    -unico-focus-border-color: @transparent;
    -unico-focus-outer-stroke-color: alpha(@selected_bg_color, 0.2);

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(mix(shade(@selected_bg_color, 0.70), @bg_color, 0.3)),
          to(mix(shade(@selected_bg_color, 0.54), @bg_color, 0.3)));
    -unico-glow-color: mix(shade(@selected_bg_color, 1.5), @bg_color, 0.3);
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(mix(shade(@selected_bg_color, 1.38), @bg_color, 0.3)),
          to(mix(shade(@selected_bg_color, 1.24), @bg_color, 0.3)));
    -unico-inner-stroke-width: 1 1 0 1;
}

.button.default:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(mix(shade(@selected_bg_color, 1.37), @bg_color, 0.3)),
        color-stop(0.50, mix(shade(@selected_bg_color, 1.02), @bg_color, 0.3)),
        color-stop(0.49, mix(shade(@selected_bg_color, 1.14), @bg_color, 0.3)),
        to(mix(shade(@selected_bg_color, 1.08), @bg_color, 0.3)));

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(mix(shade(@selected_bg_color, 0.70), @bg_color, 0.3)),
          to(mix(shade(@selected_bg_color, 0.54), @bg_color, 0.3)));
    -unico-glow-color: mix(shade(@selected_bg_color, 1.5), @bg_color, 0.3);
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(mix(shade(@selected_bg_color, 1.38), @bg_color, 0.3)),
          to(mix(shade(@selected_bg_color, 1.24), @bg_color, 0.3)));
}

.button.default:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(mix(shade(@selected_bg_color, 0.95), @bg_color, 0.3)),
          to(mix(shade(@selected_bg_color, 1.05), @bg_color, 0.3)));

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(mix(shade(@selected_bg_color, 0.7), @bg_color, 0.3)),
          to(mix(shade(@selected_bg_color, 0.7), @bg_color, 0.3)));
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(mix(shade(@selected_bg_color, 0.9), @bg_color, 0.3)),
          to(mix(shade(@selected_bg_color, 1.0), @bg_color, 0.3)));
}

.button.default:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(mix(shade(@selected_bg_color, 1.0), @bg_color, 0.3)),
          to(mix(shade(@selected_bg_color, 1.1), @bg_color, 0.3)));

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(mix(shade(@selected_bg_color, 0.7), @bg_color, 0.3)),
          to(mix(shade(@selected_bg_color, 0.7), @bg_color, 0.3)));
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(mix(shade(@selected_bg_color, 0.95), @bg_color, 0.3)),
          to(mix(shade(@selected_bg_color, 1.05), @bg_color, 0.3)));
}

.button.default:insensitive {
    -unico-glow-radius: 0;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@button_insensitive_bg_color, 1.08)),
          to(shade(@button_insensitive_bg_color, 1.00)));
}
