.entry {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@base_color, 0.96)),
          to(@base_color));
    border-top-color: shade(@bg_color, 0.64);
    border-right-color: shade(@bg_color, 0.76);
    border-bottom-color: shade(@bg_color, 0.82);
    border-left-color: shade(@bg_color, 0.76);
    border-radius: 2px;
    border-style: solid;

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(alpha(shade(@bg_color, 0.05), 0.04)),
          to(alpha(shade(@bg_color, 0.05), 0.02)));
    -unico-inner-stroke-width: 1px;
}

.entry:selected,
.entry:selected:focused {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

.entry:focused {
    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@selected_bg_color, 0.75)),
          to(shade(@selected_bg_color, 0.80)));
    -unico-inner-stroke-color: alpha(@selected_bg_color, 0.3);
    -unico-inner-stroke-gradient: none;
}

.entry:insensitive {
    background-color: shade(@bg_color, 0.96);
    background-image: none;

    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(alpha(shade(@bg_color, 0.05), 0.04)),
          to(alpha(shade(@bg_color, 0.05), 0.02)));
}

.primary-toolbar .toolbar .entry.progressbar,
.primary-toolbar.toolbar .entry.progressbar,
.entry.progressbar {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@selected_bg_color, 0.8)),
          to(shade(@selected_bg_color, 1.1)));
    border-radius: 2px;
    border-width: 0px;

    color: @selected_fg_color;

    -unico-outer-stroke-width: 0px;
}
