GtkProgressBar {
    border-radius: 0px;
    border-width: 1px;
    padding: 2px;
}

.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focused {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@selected_bg_color, 1.00)),
          to(shade(@selected_bg_color, 1.00)));
    border-width: 1px;

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@selected_bg_color, 0.90)),
          to(shade(@selected_bg_color, 0.90)));
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@selected_bg_color, 1.20)),
          to(shade(@selected_bg_color, 1.20)));
    -unico-outer-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@selected_bg_color, 1.00)),
          to(shade(@selected_bg_color, 1.00)));
    -unico-inner-stroke-width: 1px 1px 0px 1px;
    -unico-outer-stroke-width: 1px;
}

.progressbar.vertical,
.progressbar.vertical row,
.progressbar.vertical row:hover,
.progressbar.vertical row:selected,
.progressbar.vertical row:selected:focused {
    background-image: -gtk-gradient(linear, left top, right top,
        from(shade(@selected_bg_color, 1.00)),
          to(shade(@selected_bg_color, 1.00)));
    border-width: 1px;

    -unico-border-gradient: -gtk-gradient(linear, left top, right top,
        from(shade(@selected_bg_color, 0.90)),
          to(shade(@selected_bg_color, 0.90)));
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, right top,
        from(shade(@selected_bg_color, 1.20)),
          to(shade(@selected_bg_color, 1.20)));
    -unico-outer-stroke-gradient: -gtk-gradient(linear, left top, right top,
        from(shade(@selected_bg_color, 1.00)),
          to(shade(@selected_bg_color, 1.00)));
    -unico-inner-stroke-width: 1px 1px 1px 0px;
    -unico-outer-stroke-width: 1px;
}
