.check row:selected,
.radio row:selected,
.check,
.check row,
.radio,
.radio row {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@base_color, 0.96)),
          to(@base_color));
    border-top-color:    shade(@bg_color, 0.64);
    border-right-color:  shade(@bg_color, 0.76);
    border-bottom-color: shade(@bg_color, 0.82);
    border-left-color:   shade(@bg_color, 0.76);
    border-style: solid;
    border-width: 1;

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(alpha(shade(@bg_color, 0.05), 0.06)),
          to(alpha(shade(@bg_color, 0.05), 0.03)));
    -unico-inner-stroke-width: 1;
}

.check,
.check row {
    border-radius: 2;
}

.radio,
.radio row {
    border-radius: 10;
}

.check:active,
.check row:selected:active,
.check row:selected:focused:active,
.notebook .check:active,
.notebook .radio:active,
.radio:active,
.radio row:selected:active,
.radio row:selected:focused:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@selected_bg_color, 1.2)),
        color-stop(0.5, shade(@selected_bg_color, 1.0)),
        to(shade(@selected_bg_color, 0.9)));

    -unico-bullet-color: shade(@selected_bg_color, 0.535);
    -unico-bullet-outline-color: shade(@selected_bg_color, 1.2);

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@selected_bg_color, 0.7)),
          to(shade(@selected_bg_color, 0.7)));
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@selected_bg_color, 1.3)),
          to(shade(@selected_bg_color, 1.06)));
    -unico-outer-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(alpha(shade(@bg_color, 0.05), 0.02)),
          to(alpha(shade(@bg_color, 0.05), 0.06)));
    -unico-outer-stroke-width: 1;
}

.check:active:hover,
.check row:selected:active:hover,
.check row:selected:focused:active:hover,
.notebook .check:active:hover,
.notebook .radio:active:hover,
.radio:active:hover,
.radio row:selected:active:hover,
.radio row:selected:focused:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@selected_bg_color, 1.26)),
        color-stop(0.5, shade(@selected_bg_color, 1.05)),
        to(shade(@selected_bg_color, 0.95)));

    -unico-bullet-color: shade(@selected_bg_color, 0.56);
    -unico-bullet-outline-color: shade(@selected_bg_color, 1.26);

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@selected_bg_color, 0.74)),
          to(shade(@selected_bg_color, 0.74)));
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@selected_bg_color, 1.37)),
          to(shade(@selected_bg_color, 1.12)));
}

.check row:selected,
.check row:selected:active,
.check row:selected:focused,
.check row:selected:focused:active,
.radio row:selected,
.radio row:selected:active,
.radio row:selected:focused,
.radio row:selected:focused:active {
    -unico-outer-stroke-color: @transparent;
    -unico-outer-stroke-gradient: none;
}

.check:insensitive,
.radio:insensitive {
    background-color: shade(@bg_color, 0.96);
    background-image: none;
}

.check:insensitive:active,
.radio:insensitive:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@bg_color, 0.96)),
          to(shade(@bg_color, 0.9)));

    -unico-bullet-color: shade(@bg_color, 0.6);
    -unico-bullet-outline-color: shade(@bg_color, 1.0);

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@bg_color, 0.8)),
          to(shade(@bg_color, 0.7)));
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@bg_color, 1.0)),
          to(shade(@bg_color, 0.94)));
}
