.trough,
.trough row,
.trough row:hover,
.trough row:selected,
.trough row:selected:focused {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@bg_color, 0.95)),
          to(shade(@bg_color, 1.00)));
    border-width: 1;
    border-style: solid;
    border-color: shade(@bg_color, 0.8);
    -unico-outer-stroke-width: 0;
    -unico-inner-stroke-width: 0;
    -unico-inner-stroke-color: shade(@bg_color, 1.20);
}

.trough.vertical {
    background-image: -gtk-gradient(linear, left top, right top,
        from(shade(@bg_color, 0.95)),
          to(shade(@bg_color, 1.00)));
    border-width: 1;
    border-style: solid;
    border-color: shade(@bg_color, 0.8);
    -unico-outer-stroke-width: 0;
    -unico-inner-stroke-width: 0 0 0 1;
}

GtkScale.trough,
GtkProgressBar.trough {
    -unico-outer-stroke-width: 0 1 1 1;
    -unico-outer-stroke-color: alpha(white, 0.07);
}

GtkScale.trough {
    border-radius: 4;
}

GtkScale.trough.vertical {
    -unico-outer-stroke-width: 1 1 1 0;
}

GtkScale {
    border-radius: 0;
    border-width: 1;
    padding: 1;
}

GtkScale {
    -GtkRange-slider-width: 14;
    -GtkRange-trough-border: 1;
    -GtkScale-slider-length: 14;

    border-style: solid;
    border-width: 1;
    border-radius: 8;

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@bg_color, 0.8)),
        to(shade(@bg_color, 0.8)));
    -unico-glow-radius: 0;
    -unico-inner-stroke-width: 1;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(alpha(shade(@bg_color, 0.6), 0.2)),
        to(alpha(@bg_color, 0.0)));
}

GtkScale.vertical {
    -unico-inner-stroke-width: 1;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, right top,
        from(alpha(shade(@bg_color, 0.6), 0.2)),
        to(alpha(@bg_color, 0.0)));
}

GtkScale.mark {
    border-color: shade(@bg_color, 0.8);
}
