.trough,
.trough row,
.trough row:hover,
.trough row:selected,
.trough row:selected:focused {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(shade(@bg_color, 0.95)),
          to(shade(@bg_color, 1.00)));
    border-width: 1px;
    border-style: solid;
    border-color: shade(@bg_color, 0.8);
    -unico-outer-stroke-width: 0px;
    -unico-inner-stroke-width: 0px;
    -unico-inner-stroke-color: shade(@bg_color, 1.20);
}

.trough.vertical {
    background-image: -gtk-gradient(linear, left top, right top,
        from(shade(@bg_color, 0.95)),
          to(shade(@bg_color, 1.00)));
    border-width: 1px;
    border-style: solid;
    border-color: shade(@bg_color, 0.8);
    -unico-outer-stroke-width: 0px 0px 0px 0px;
    -unico-inner-stroke-width: 0px 0px 0px 0px;
}

GtkScale.trough,
GtkProgressBar.trough {
    -unico-outer-stroke-width: 0px 1px 1px 1px;
    -unico-inner-stroke-width: 0px;
    -unico-outer-stroke-color: alpha(white, 0.07);
}

GtkProgressBar.trough.vertical {
    -unico-inner-stroke-width: 0px;
    -unico-outer-stroke-width: 1px 1px 1px 0px;
}

GtkScale.trough {
    border-radius: 4px;
}

GtkScale.trough.vertical {
    -unico-outer-stroke-width: 1px 1px 1px 0px;
}

GtkScale {
    border-radius: 0px;
    border-width: 1px;
    padding: 1px;
}

GtkScale {
    -GtkRange-slider-width: 14px;
    -GtkRange-trough-border: 1;
    -GtkScale-slider-length: 14;

    border-style: solid;
    border-width: 1px;
    border-radius: 8px;

    -unico-border-gradient: -gtk-gradient(linear, left top, left bottom,
        from(shade(@bg_color, 0.8)),
        to(shade(@bg_color, 0.8)));
    -unico-glow-radius: 0px;
    -unico-inner-stroke-width: 1px;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
        from(alpha(shade(@bg_color, 0.6), 0.2)),
        to(alpha(@bg_color, 0.0)));
}

GtkScale.vertical {
    -unico-inner-stroke-width: 1px;
    -unico-inner-stroke-gradient: -gtk-gradient(linear, left top, right top,
        from(alpha(shade(@bg_color, 0.6), 0.2)),
        to(alpha(@bg_color, 0.0)));
}

GtkScale.mark {
    border-color: shade(@bg_color, 0.8);
}
