# vim: set syn=gtkrc:

style "treeview" {
    fg[PRELIGHT] = @selected_fg_color

    bg[NORMAL]   = shade(1.10, @bg_color)
    bg[SELECTED] = shade(0.70, @selected_bg_color)
    
    text[NORMAL  ] = @text_color
    text[SELECTED] = @selected_fg_color
    text[ACTIVE  ] = @fg_color

    base[SELECTED] = mix(0.60, shade(1.00, @selected_bg_color), shade(2.00, @bg_color))
    base[ACTIVE  ] = mix(0.30, shade(1.00, @selected_bg_color), shade(2.00, @bg_color))

    engine "murrine" {
        gradient_shades = {1.00, 1.10, 1.10, 0.80}
    }
}

style "treeview-header" = "button" {
    xthickness = 2
    ythickness = 2

    bg[NORMAL]   = shade(1.60, @bg_color)
    bg[PRELIGHT] = shade(1.70, @bg_color)

    engine "murrine" {
        contrast = 1.00
        gradient_shades = {1.05, 1.00, 1.00, 0.95}
    }
}
