# vim: set syn=gtkrc:

style "menubar" {
    xthickness = 0
    ythickness = 0

    font_name = "Bold"

    bg[NORMAL]     = @dark_bg_color
    fg[NORMAL]     = @dark_fg_color

    fg[PRELIGHT]   = @dark_fg_color
    fg[SELECTED]   = @dark_fg_color
    text[PRELIGHT] = @dark_fg_color
    text[SELECTED] = @dark_fg_color

    fg[INSENSITIVE] = shade(0.80, @fg_color)

    engine "murrine" {
        roundness = 0
        gradient_shades = {1.00, 1.00, 1.00, 1.00}
        border_shades = {1.00, 1.00}
        contrast = 1.00
    }

#   engine "industrial" {
#       rounded_buttons = FALSE
#       contrast = 0.50
#   }
}

style "menubar-item" {
    xthickness = 4
    ythickness = 3

    # To make the menubar items blend in with the menus themselves
    bg[PRELIGHT] = @dark_selected_bg_color
    #bg[PRELIGHT] = "#2B2757"

    engine "murrine" {
        roundness = 0
        contrast = 0.50
        border_shades = {1.25, 1.25}
        lightborder_shade = 1.00
        #contrast = 2.00
    }
}
