# vim: set syn=gtkrc:

style "frame-title" {
    fg[NORMAL] = lighter(@fg_color)

    font_name = "Bold"
}

style "frame" = "wide" {
    bg[NORMAL] = shade(1.00, @bg_color)

    engine "murrine" {
        roundness = 1
    }
}
