# vim: set syn=gtkrc:

style "progressbar" {
    xthickness = 0
    ythickness = 0

    bg[SELECTED] = shade(0.80, @bg_color)
    fg[SELECTED] = shade(1.00, @fg_color)
    fg[PRELIGHT] = @fg_color

     engine "murrine" {
        roundness = 0
        contrast = 1.30
        trough_shades = {1.50, 1.50}
        border_shades = {1.50, 1.50}
     }
}
