# vim: set syn=gtkrc:

style "radiocheck" = "button" {
    base[NORMAL]   = shade(1.75, @base_color)
    base[PRELIGHT] = shade(1.85, @base_color)

    base[SELECTED] = shade(1.00, @bg_color)

    bg[SELECTED]   = shade(4.00, @bg_color)
    bg[PRELIGHT]   = shade(1.04, @bg_color)

    text[SELECTED] = @fg_color

    fg[NORMAL  ] = @selected_fg_color
    fg[PRELIGHT] = @selected_fg_color
    fg[SELECTED] = @selected_fg_color
    fg[ACTIVE  ] = @selected_fg_color

    text[NORMAL  ] = @selected_fg_color
    text[PRELIGHT] = @selected_fg_color
    text[SELECTED] = @selected_fg_color
    text[ACTIVE  ] = @selected_fg_color

    engine "murrine" {}
}

style "radiocheck-notebook" = "button" {
    base[NORMAL]   = shade(1.75, @base_color)
    base[PRELIGHT] = shade(1.85, @base_color)

    base[SELECTED] = shade(1.00, @bg_color)

    bg[SELECTED]   = shade(4.00, @bg_color)
    bg[PRELIGHT]   = shade(1.04, @bg_color)

    text[SELECTED] = @fg_color

    # Fallback engine
    engine "aurora"  {}

    # Real engine
    engine "equinox" {}
}
