[keys]
         # Reload the configuration of wmfs.
        [key] mod = {"Control", "Super"} key = "r" func = "reload" [/key]

        # Open a terminal.
        #[key] mod = {"Control"} key = "Return" func = "spawn" cmd = "xterm" [/key]

        # Kill the selected client.
        [key] mod = {"Super"} key = "c" func = "client_kill" [/key]

        # Quit wmfs.
        [key] mod = {"Shift", "Super"} key = "q" func = "quit" [/key]


        # Toggle maximum the selected client
        [key] mod = {"Super"} key = "m" func = "toggle_max" [/key]

        # Toggle free the selected client.
        [key] mod = {"Super", "Shift"} key = "space" func = "toggle_free" [/key]

        # Toggle the position of the infobar.
        [key] mod = {"Super"         } key = "b" func = "toggle_infobar_position" [/key]
        [key] mod = {"Super", "Shift"} key = "b" func = "toggle_infobar_display" [/key]

        # Toggle the resizehint of the current tag/screen
        [key] mod = {"Shift", "Super"} key = "r" func = "toggle_resizehint" [/key]

        # Toggle the tag_autohide mode
        [key] mod = {"Shift", "Super"} key = "t" func = "toggle_tagautohide" [/key]

        # Select the next client.
        # Select the previous client.
        [key] mod = {"Super"} key = "j" func = "client_next" [/key]
        [key] mod = {"Super"} key = "k" func = "client_prev" [/key]

        # Swap current client with the next.
        # Swap current client with the previous.
        [key] mod = {"Super", "Shift"} key = "j" func = "client_swap_next" [/key]
        [key] mod = {"Super", "Shift"} key = "k" func = "client_swap_prev" [/key]

        # Select the next tag.
        # Select the previous tag.
        #[key] mod = {"Super", "Control"} key = "l" func = "tag_next" [/key]
        #[key] mod = {"Super", "Control"} key = "h" func = "tag_prev" [/key]

        # Select the next visible tag.
        # Select the previous visible tag.
        [key] mod = {"Super", "Alt"} key = "l" func = "tag_next_visible" [/key]
        [key] mod = {"Super", "Alt"} key = "h" func = "tag_prev_visible" [/key]

        # Set the next layout.
        # Set the previous layout.
        [key] mod = {"Super"         } key = "u" func = "layout_next" [/key]
        [key] mod = {"Super", "Shift"} key = "u" func = "layout_prev" [/key]

        # Increase mwfact.
        # Decrease mwfact.
        [key] mod = {"Super"} key = "l" func = "set_mwfact" cmd = "+0.025" [/key]
        [key] mod = {"Super"} key = "h" func = "set_mwfact" cmd = "-0.025" [/key]

        # Increase nmaster.
        # Decease nmaster.
        [key] mod = {"Super"         } key = "d" func = "set_nmaster" cmd = "+1" [/key]
        [key] mod = {"Super", "Shift"} key = "d" func = "set_nmaster" cmd = "-1" [/key]

        #Launcher.
        #[key] mod = {"Super"} key = "p" func = "launcher" cmd = "launcher_exec" [/key]
        #[key] mod = {"Super"} key = "o" func = "launcher" cmd = "launcher_exec" [/key]

        #ViWMFS
        [key] mod = {"Super"} key = "Escape" func = "launcher" cmd = "viwmfs" [/key]

        # change screen
        [key] mod = {"Super"         } key = "Tab" func = "screen_next" [/key]
        [key] mod = {"Super", "Shift"} key = "Tab" func = "screen_prev" [/key]

        # change screen (alt)
        [key] mod = {"Super"  "Control"} key = "l" func = "screen_next" [/key]
        [key] mod = {"Super", "Control"} key = "h" func = "screen_prev" [/key]
        
        # swap client in the next/prev screen
        [key] mod = {"Super", "Shift"} key = "l" func = "client_screen_next" [/key]
        [key] mod = {"Super", "Shift"} key = "h" func = "client_screen_prev" [/key]

        # Set the tag x.
        [key] mod = {"Super"} key = "1" func = "tag" cmd = "1" [/key]
        [key] mod = {"Super"} key = "2" func = "tag" cmd = "2" [/key]
        [key] mod = {"Super"} key = "3" func = "tag" cmd = "3" [/key]
        [key] mod = {"Super"} key = "4" func = "tag" cmd = "4" [/key]
        [key] mod = {"Super"} key = "5" func = "tag" cmd = "5" [/key]
        [key] mod = {"Super"} key = "6" func = "tag" cmd = "6" [/key]
        [key] mod = {"Super"} key = "7" func = "tag" cmd = "7" [/key]
        [key] mod = {"Super"} key = "8" func = "tag" cmd = "8" [/key]
        [key] mod = {"Super"} key = "9" func = "tag" cmd = "9" [/key]

        # Transfert selected client to x.
        [key] mod = {"Super", "Shift"} key = "1" func = "tag_transfert" cmd = "1" [/key]
        [key] mod = {"Super", "Shift"} key = "2" func = "tag_transfert" cmd = "2" [/key]
        [key] mod = {"Super", "Shift"} key = "3" func = "tag_transfert" cmd = "3" [/key]
        [key] mod = {"Super", "Shift"} key = "4" func = "tag_transfert" cmd = "4" [/key]
        [key] mod = {"Super", "Shift"} key = "5" func = "tag_transfert" cmd = "5" [/key]
        [key] mod = {"Super", "Shift"} key = "6" func = "tag_transfert" cmd = "6" [/key]
        [key] mod = {"Super", "Shift"} key = "7" func = "tag_transfert" cmd = "7" [/key]
        [key] mod = {"Super", "Shift"} key = "8" func = "tag_transfert" cmd = "8" [/key]
        [key] mod = {"Super", "Shift"} key = "9" func = "tag_transfert" cmd = "9" [/key]

        # Toggle additional tags (x) on the current tag
        [key] mod = {"Control", "Super"} key = "1" func = "tag_toggle_additional" cmd = "1" [/key]
        [key] mod = {"Control", "Super"} key = "2" func = "tag_toggle_additional" cmd = "2" [/key]
        [key] mod = {"Control", "Super"} key = "3" func = "tag_toggle_additional" cmd = "3" [/key]
        [key] mod = {"Control", "Super"} key = "4" func = "tag_toggle_additional" cmd = "4" [/key]
        [key] mod = {"Control", "Super"} key = "5" func = "tag_toggle_additional" cmd = "5" [/key]
        [key] mod = {"Control", "Super"} key = "6" func = "tag_toggle_additional" cmd = "6" [/key]
        [key] mod = {"Control", "Super"} key = "7" func = "tag_toggle_additional" cmd = "7" [/key]
        [key] mod = {"Control", "Super"} key = "8" func = "tag_toggle_additional" cmd = "8" [/key]
        [key] mod = {"Control", "Super"} key = "9" func = "tag_toggle_additional" cmd = "9" [/key]

        # unlisted fonctions that can be used in [key] func = ""
        # client_focus_{right, left, top, bottom}
        # client_ignore_tag # Toggle the client in ignore_tag (display the client on all tags)
        # tag_prev_sel # go back to the previous selected tag
        # tag_transfert_{next, prev} 
        # tag_urgent # go to the urgent tag
        # tag_swap_{next, prev} # swap tag with the previous/next one
        # tag_last # go to the last tag
        # tag_stay_last # toggle the current tag as the last one
        # toggle_abovefc 
        # screen_prev_sel # go to the previous screen selected
        # set_layout # set layout. need to be called with cmd = "<layout_name>"
        # ignore_next_client_rules # ignore the rule the next time a rule is called
[/keys]
# vim: ft=conf:
