[menu]
        # Default menu, binded on the root window, button 3.
        [set_menu]
                name = "rootmenu"

                # place_at_mouse = false
                # x = 40 y = 50

                # Available "center", "left", "right" menu align. Default: "center".
                align = "left"

                fg_focus  = "#d3caaa" bg_focus  = "#5f5e5c"
                fg_normal = "#d3caaa" bg_normal = "#383734"

                [item]
                    name = "Terminal"        
                    func = "spawn"
                    cmd = "roxterm || xterm"
                [/item]
                [item]
                    name = "Change Wallpaper"
                    func = "spawn"
                    cmd = "nitrogen"
                [/item]
                [item]
                    name = "NVIDIA Settings"
                    func = "spawn"
                    cmd = "nvidia-settings"
                [/item]
                [item]
                    name = "NVIDIA Settings (root)"
                    func = "spawn"
                    cmd = "gksudo nvidia-settings"
                [/item]
                #[item] name = "Next Tag"        func = "tag_next"                  [/item]
                #[item] name = "Previous Tag"    func = "tag_prev"                  [/item]
                #[item] name = "Next Layout"     func = "layout_next"               [/item]
                #[item] name = "Previous Layout" func = "layout_prev"               [/item]
                #[item] name = "Toggle Infobar"  func = "toggle_infobar_position"   [/item]
                [item] name = "Quit WMFS"       func = "quit"                      [/item]

                #[item] name = "Applications" submenu = "appmenu"                   [/item]
        [/set_menu]

        [set_menu]
                name = "clientmenu"
                align = "left"

                fg_focus  = "#d3caaa" bg_focus  = "#5f5e5c"
                fg_normal = "#d3caaa" bg_normal = "#383734"

                # Check items: possible 'check_max' or 'check_free'.
                [item] name = "Close"    func = "client_kill"                      [/item]
                [item] name = "Maximize" func = "toggle_max"  check = "check_max"  [/item]
                [item] name = "Free"     func = "toggle_free" check = "check_free" [/item]
        [/set_menu]
[/menu]
# vim: ft=conf:
