[root]
        # Command you can execute to set the background.
        ### Already loaded background
        #background_command = "xsetroot -solid black"

        [mouse] button = "5" func = "tag_next"              [/mouse]
        [mouse] button = "4" func = "tag_prev"              [/mouse]
        [mouse] button = "3" func = "menu" cmd = "rootmenu" [/mouse]
[/root]
