[tags]
        [default_tag]
             name             = "new tag"
             mwfact           = 0.5
             nmaster          = 1
             layout           = "tile_right"
             resizehint       = false
             infobar_position = "top"
        [/default_tag]

        # Wrap tags at end
        tag_round      = false

        # Press tag number again to toggle between previous tag
        tag_auto_prev  = false

        occupied_bg    = "#444240"
        occupied_fg    = "#e4e2e0"
        sel_fg         = "#f4f2f0"
        sel_bg         = "#6080a0"
        urgent_bg      = "#fcaf3e"
        urgent_fg      = "#000000"

        # If true, number of the tag will be used for name
        name_count     = false

        #default_name   = "new tag" # deprecated, use [default_tag] instead
        #default_layout = "tile_right" # deprecated, use [default_tag] instead

        # Border around the tag buttons.
        border      = true

        # Hide empty tags in tag list
        autohide    = false

        # Mouse buttons action on tag.
        mouse_button_tag_sel       = "1"
        mouse_button_tag_transfert = "2"
        mouse_button_tag_add       = "3"
        mouse_button_tag_next      = "5"
        mouse_button_tag_prev      = "4"

        #[tag]
        #        name             = "1"
        #        screen           = 0
        #        mwfact           = 0.65
        #        nmaster          = 1
        #        layout           = "tile_right"
        #        resizehint       = false
        #        infobar_position = "top"
        #
        #       #[mouse] [/mouse] Possible multi mouse section
        #[/tag]

        # clients option is *DEPRECATED* but works, see [rules] section
        #[tag] name = "two"  clients = {"Browser"} [/tag]

        [tag]
            name    = "  1   "
            layout  = "tile_bottom"
            screen  = 1
            nmaster = 1
        [/tag]
        [tag]
            name    = "  1   "
            layout  = "tile_bottom"
            screen  = 0
            nmaster = 2
        [/tag]
        [tag] name = "  2   " [/tag]
        [tag] name = "  3   " [/tag]
        [tag] name = "  4   " [/tag]
        [tag] name = "  5   " [/tag]
        [tag] name = "  6   " [/tag]
        [tag] name = "  7   " [/tag]
        [tag] name = "  8   " [/tag]
        [tag] name = "  9   " [/tag]
[/tags]
# vim: ft=conf:
