UnityPanelWidget,
.unity-panel {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.2)),
		to (shade (@bg_color, 1.0)));
	border-top-color: shade (@bg_color, 1.6);
	border-style: solid;
	border-width: 0px;

	-unico-border-gradient: none;
}

.unity-panel.menubar,
.unity-panel .menubar {
	color: @fg_color;
}

.unity-panel.menuitem,
.unity-panel .menuitem {
	border-width: 1px;
	icon-shadow: 0 -1 shade (@bg_color, 0.9);
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.0)),
		to (shade (@selected_bg_color, 0.85)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.9)),
		to (shade (@selected_bg_color, 0.8)));
	-unico-inner-stroke-width: 0px 1px 0px 1px;

	color: @fg_color;
}
