"*":
  "atom-material-ui":
    colors:
      abaseColor: "#5c6bc0"
      predefinedColor: "Indigo"
    tabs:
      compactTabs: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  blame: {}
  core:
    audioBeep: false
    autoHideMenuBar: true
    closeEmptyWindows: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "bower_components"
      "tmp"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "flat-light-syntax"
    ]
    warnOnLargeFileLimit: 4
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontFamily: "Fira Code"
    fontSize: 17
    lineHeight: 1.3
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "af76c611-f193-35a7-fa38-e2d22712f423"
  "file-icons":
    coloured: false
    tabPaneIcon: false
  "git-diff": {}
  linter:
    displayLinterStatus: false
    errorPanelHeight: 125
    gutterEnabled: false
    showErrorInline: false
  "markdown-preview":
    breakOnSingleNewline: true
    liveUpdate: false
  minimap: {}
  "one-dark-ui":
    fontSize: 13
    layoutMode: "Compact"
    tabSizing: "Even"
  "one-light-ui":
    fontSize: 13
    layoutMode: "Compact"
    tabSizing: "Even"
  tabs:
    enableVcsColoring: true
  "tree-view":
    focusOnReveal: false
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
  "yosemate-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
