// Fix the borders-touching-borders in the One Light/Dark themes

[theme-one-light-ui-layoutmode="compact"] atom-pane-container atom-pane {
  border-right: 0;
}

atom-panel.left {
  border-left: 0;
}

atom-panel.bottom {
  border-right: 0;
}
