# vim: set syn=gtkrc:

style "menu" {
    xthickness = 0
    ythickness = 0

    bg[NORMAL]     = shade(1.10, @bg_color)
    base[NORMAL]   = shade(1.10, @bg_color)
    fg[NORMAL]     = @fg_color
    fg[PRELIGHT]   = @fg_color
    fg[SELECTED]   = @fg_color
    text[NORMAL]   = @fg_color
    text[PRELIGHT] = @fg_color
    text[SELECTED] = @fg_color
    fg[INSENSITIVE] = mix(0.60, @bg_color, @fg_color)

    engine "murrine" {
        contrast = 0.60
    }

#   engine "industrial" {
#       contrast = 0.90
#       rounded_buttons = FALSE
#   }

    font_name = "Bold"
}

style "menu-item" = "menu" {
    xthickness = 4
    ythickness = 3

    font_name = "Bold"

    base[NORMAL]  = @bg_color

    bg[INSENSITIVE] = shade(1.10, @bg_color)

    #bg[SELECTED] = mix(0.50, shade(0.80, @selected_bg_color), "#FFF")
    bg[SELECTED] = shade(0.95, @bg_color)
    fg[PRELIGHT] = @fg_color

    engine "murrine" {
        contrast  = 0.00
        border_shades = {0.90, 0.90}
        roundness = 0
        gradient_shades = {1.00, 1.00, 1.00, 1.00}
    }
}

style "tearoff-menu-item" = "menu" {
    engine "murrine" {
        roundness = 0
    }
}

style "separator-menu-item" = "menu-item" {
    engine "murrine" {
        contrast = 0.50
    }
}

style "menu-progressbar" {
    xthickness = 0
    ythickness = 0

    engine "murrine" {
        roundness = 0
    }
}
