# vim: set syn=gtkrc:

style "button" = "wider" {
    bg[NORMAL]      = shade(1.10, @bg_color)
    bg[PRELIGHT]    = shade(1.15, @bg_color)
    bg[ACTIVE]      = shade(0.90, @bg_color)
    bg[INSENSITIVE] = shade(1.00, @bg_color)

    engine "murrine" {
        roundness = 4
        contrast = 0.75
        #focus_color = shade(2.00, @bg_color)
    }
}

style "toolbar-button" = "button" {
    xthickness = 6
    ythickness = 3

    bg[NORMAL]   = shade(1.00, @bg_color)
    bg[PRELIGHT] = shade(1.25, @bg_color)
    bg[ACTIVE]   = shade(0.70, @selected_bg_color)

    engine "murrine" {
        #roundness = 32
        roundness = 12
        contrast = 1.20
    }
}
