# vim: set syn=gtkrc:

style "menubar" {
    xthickness = 0
    ythickness = 1

    font_name = "Bold"

    bg[NORMAL]     = "#444444"
    fg[NORMAL]     = "#eeeeee"

    fg[PRELIGHT]   = "#eeeeee"
    fg[SELECTED]   = "#eeeeee"
    text[PRELIGHT] = "#eeeeee"
    text[SELECTED] = "#eeeeee"

    fg[INSENSITIVE] = shade(0.80, @fg_color)

    engine "murrine" {
        roundness = 0
        gradient_shades = {1.00, 1.00, 1.00, 1.00}
        border_shades = {1.00, 1.00}
        contrast = 1.00
    }
}

style "menubar-item" {
    xthickness = 4
    ythickness = 3

    # To make the menubar items blend in with the menus themselves
    #bg[PRELIGHT] = mix(0.50, shade(0.80, @selected_bg_color), shade(1.30, @bg_color))
    #bg[PRELIGHT] = shade(1.30, @bg_color)
    bg[PRELIGHT] = shade(1.25, "#444444")

    engine "murrine" {
        roundness = 4
        contrast = 1.70
        border_shades = {1.30, 1.30}
        lightborder_shade = 1.00
        #contrast = 2.00
    }
}
